<ul class="media-list">
  <% review_spas.each do |spa| %>
    <% user = review.user %>
    <li class="media">
      <div class="media-body">
        
        
        
      </div>
    </li>
  <% end %>
  <%= paginate reviews %>
</ul>